.app {
    display: flex;
}

.sidebar {
    height: 100vh;
    width: 25%;
}

.sidebar_form {
    padding: 20px;
}

.sidebar_form input {
    padding: 15px 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    text-transform: uppercase;
}
.sidebar_form button {
    margin-left: 5px; 
    padding: 15px 20px 15px 20px;
    color: white;
    border-radius: 5px;
    background: black;
    transition: all .3s;
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
}

.sidebar_form button:hover {
    background: rgba(0, 0, 0, 0.678);
    color: white;
}

.sidebar_result {
    height: calc(100vh - 144px);
    overflow-y: auto;
    padding: 20px;
    
}

.sidebar_item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar_item:last-child {
    margin-bottom: 0;
}

.sidebar_item > h2 {
    font-size: 18px;
    margin-bottom: 15px;
    transition: all .3s;
}

.sidebar_item > p {
    text-transform: uppercase;
    font-style: italic;

}

.map {
    width: 75%;
    height: 100vh;
}